<!--エラーメッセージと入力フォーム-->
<%= form_for @message, html: {class: 'form-horizontal'} do |f| %>

  <!--エラーメッセージの表示-->    
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li><%= full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--入力フォーム-->
  <div class="form-group">
    <label for="message_name" class="col-sm-2 control-label">名前:</label>
    <div class="col-sm-10">
      <%= f.text_field :name, :placeholder => "20字以内で入力してください", class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <label for="message_age" class="col-sm-2 control-label">年齢:</label>
    <div class="col-sm-10">
      <%= f.text_field :age, :placeholder => "数値のみで入力してください",  class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="message_body" class="col-sm-2 control-label">内容:</label>
    <div class="col-sm-10">
      <%= f.text_area :body, :placeholder => "2字以上、30字以内で入力してください", class: "form-control" %>
    </div>
  </div>

<!--投稿ボタン-->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default btn-block pull-right form-control" %>  
    </div>
  </div>
<% end %>